html,
body {
  padding: 0;
  margin: 0;
  width: 100% !important;
  height: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  min-height: 100vh;

}

html,
body,
body > div,
.chakra-ui-light,
#__next,
div#__next,
div#__next > div {
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: -webkit-fill-available;
  min-height: 100vh !important;
  height: 100vh !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
